.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  max-width: 90%;
}

@media (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}